@using System.Activities.Statements
@using BusinessClasses
@using EntityProject
@{

    var sideBannerItems = SessionManager.GetSideBarMenuItemFromSession();
}
@*<style>
        .bx-wrapper .bx-viewport {
            -moz-box-shadow: 0 0 5px #ccc;
            -webkit-box-shadow: 0 0 5px #ccc;
            box-shadow: 0 0 5px #ccc;
            border: solid #000000 8px;
            background: #fff;
        }
    </style>*@



<!DOCTYPE html>
<html>

<head>

    <link href="~/Content/ViewCss/Layout.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/ViewScript/_Layout.js"></script>

</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/OtherSiteImages/news.png" style="float: left" />
                @Html.ActionLink("News India", "Index", "Home", null, new { @class = "navbar-brand", @style = "background-color:transparent;   " })
            </div>
            <div class="navbar-collapse collapse" id="divMenuDashboard">
                @{Html.RenderAction("LoadLayoutMenu", "Layout");}
            </div>
        </div>
    </div>
    @* Side Bar FRom HERE ref:http://www.bootply.com/100993 *@
    <div class="container SideBarContainer">
        <div class="row">
            <div class="col-md-2 navbar-left SideBarDiv" id="leftCol">

                <div class="well">
                    <ul class="nav nav-stacked" id="sidebar">
                        @foreach (var item in sideBannerItems)
                        {
                            <li>
                                <img src="@Url.Content("~/Content/Images/OtherSiteImages/"+item.ImageName)" class="SideBannerImg" alt="Image" />
                                <a href="@item.URL" class="SideBannerAnchor">@item.Name</a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
            <div class="col-md-10 BodyMain" id="divPartial">
                @RenderBody()
            </div>
        </div>
    </div>
    @* Till Here *@
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@
    <div id="divLoading" class="Loading" style="background-color: #FFF !important; display: none">
        <div class="InnerLoading">
            <p>
                <img src="~/Content/Images/Loading.gif" class="ImageLoading" />
            </p>
            <p id="pLoadingText" style="text-align: center">Loading..</p>
            <div id="divExtraContentsLoading" style="display:none"></div>
        </div>
    </div>


    @*Notif View JS *@
    <script src="~/Scripts/notify.js"></script>
   
    @RenderSection("scripts", required: false)
</body>
</html>
